@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply 
      bg-gradient-to-r 
      from-teal-500 
      to-indigo-600 
      px-6 
      py-3 
      rounded-xl 
      text-white 
      font-semibold 
      shadow-md 
      transition-all 
      duration-200 
      ease-in-out 
      hover:scale-105 
      hover:bg-gradient-to-r 
      hover:from-teal-400 
      hover:to-indigo-700 
      hover:shadow-lg 
      hover:text-white 
      hover:border 
      hover:border-indigo-500
      focus:outline-none; 
  }
}


